<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/styles/adminStyles.css">
</head>
<body>

    <h3>Admin Panel Of TradeX</h3>
    <a href="/"><button>Home</button></a>
    <h4>Tables</h4>
    <div>
        <form action="/admin/1" method="post">
            <input type="submit" value="User">
        </form>
 
        <form action="/admin/14" method="post">
            <label for="input1">qID</label>
            <input type="numeric" name="qID" placeholder="Enter here">
            <input type="submit" value="Submission">
        </form>
        
    </div>
    <br>
    <h4>Updates</h4>
    <div>
        <form action="/admin/5" method="post">
            <label for="input1">Roll_No</label>
            <input type="numeric" name="roll" placeholder="Enter here">
            <label for="input1">Points</label>
            <input type="numeric" name="points" placeholder="Enter here">
            <input type="submit" value="Submit">
        </form>
   
        <form action="/admin/7" method="post">
            <label for="input1">Stage 1</label>
            <label for="input1">Roll_No</label>
            <input type="numeric" name="roll" placeholder="Enter here">
            <label for="input1">Index</label>
            <input type="numeric" name="index" placeholder="Enter here">
            <label for="input1">Visit</label>
            <input type="numeric" name="visit" placeholder="Enter here">
            <input type="submit" value="Submit">
        </form>
    
        
    </div>
    <h4>Reset</h4>
    <div>
        <form action="/admin/9" method="post">
            <label for="input1">Roll_No</label>
            <input type="numeric" name="roll" placeholder="Enter here">
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>