<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/styles/adminStyles.css">
    <link rel="icon" href="/images/vlogo.png" type="image/icon type">
</head>
<body>

    <h3>Admin Panel Of TradeX</h3>
    <a href="/"><button>Home</button></a>
    <h4>Tables</h4>
    <div>
        <form action="/Version@2023/admin/1" method="post">
            <input type="submit" value="User">
            <select name="inputOpt1">
                <option value="userID">userID</option>
                <option value="email">email</option>
                <option value="contact">contact</option>
                <option value="roll">roll</option>
                <option value="userName">userName</option>
                <option value="university">university</option>
                <option value="createdAt">createdAt</option>
            </select>
        </form>
        <form action="/Version@2023/admin/2" method="post">
            <input type="submit" value="UserOTP">
        </form>
        <form action="/Version@2023/admin/3" method="post">
            <input type="submit" value="session">
        </form>
        <form action="/Version@2023/admin/4" method="post">
            <input type="submit" value="EventRegsitration">
        </form>
        <form action="/Version@2023/admin/5" method="post">
            <input type="submit" value="Info">
        </form>
        <form action="/Version@2023/admin/6" method="post">
            <input type="submit" value="Feedback">
        </form>
        <form action="/Version@2023/admin/7" method="post">
            <input type="submit" value="tempUser">
            <select name="inputOpt1">
                <option value="email">email</option>
                <option value="contact">contact</option>
                <option value="roll">roll</option>
                <option value="userName">userName</option>
                <option value="university">university</option>
                <option value="createdAt">createdAt</option>
            </select>
        </form>
 
        <form action="/Version@2023/admin/11" method="post">
            <label for="input1">userID</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <input type="submit" value="User">
        </form>
        <form action="/Version@2023/admin/12" method="post">
            <label for="input1">userID</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <input type="submit" value="UserOTP">
        </form>
        <form action="/Version@2023/admin/13" method="post">
            <label for="input1">userID</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <input type="submit" value="EventRegsitration">
        </form>
        <form action="/Version@2023/admin/14" method="post">
            <label for="input1">infoID</label>
            <input type="numeric" name="infoID" placeholder="Enter here">
            <input type="submit" value="Info">
        </form>
        <form action="/Version@2023/admin/15" method="post">
            <label for="input1">userID</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <input type="submit" value="Feedback">
        </form>
        
    </div>
    <br>
    <h4>Updates</h4>
    <div>
        <form action="/Version@2023/admin/21" method="post">
            <label for="input1">userID</label>
            <input class="admninInput" type="text" name="userID" placeholder="Enter here">

            <label for="input1">Name</label>
            <input class="admninInput" type="text" name="userName" placeholder="Enter here">

            <label for="input1">Roll_No</label>
            <input class="admninInput" type="text" name="roll" placeholder="Enter here">

            <label for="input1">Email</label>
            <input class="admninInput" type="email" name="email" placeholder="Enter here">

            <br>

            <label for="input1">Contact</label>
            <input class="admninInput" type="tel" pattern="[0-9]{10}" name="contact" placeholder="Enter here">

            <label for="input1">University</label>
            <input class="admninInput" type="text" name="university" placeholder="Enter here">

            <label for="input1">Password</label>
            <input class="admninInput" type="numeric" name="pass" placeholder="Enter here">
            <input type="submit" value="Submit">
        </form>
   <hr><br>
        <form action="/Version@2023/admin/22" method="post">
            <label for="input1">userID</label>
            <input class="admninInput" type="text" name="userID" placeholder="Enter here">

            <label for="input1">E101</label>
            <input class="admninInput" type="text" name="E101" placeholder="Enter here">
            <label for="input1">E102</label>
            <input class="admninInput" type="text" name="E102" placeholder="Enter here">
            <label for="input1">E103</label>
            <input class="admninInput" type="text" name="E103" placeholder="Enter here">
            <label for="input1">E104</label>
            <input class="admninInput" type="text" name="E104" placeholder="Enter here">

            <br><br>

            <label for="input1">E105</label>
            <input class="admninInput" type="text" name="E105" placeholder="Enter here">
            <label for="input1">E106</label>
            <input class="admninInput" type="text" name="E106" placeholder="Enter here">
            <label for="input1">E107</label>
            <input class="admninInput" type="text" name="E107" placeholder="Enter here">
            <label for="input1">E108</label>
            <input class="admninInput" type="text" name="E108" placeholder="Enter here">

            <br>
            <label for="input1">E109</label>
            <input class="admninInput" type="text" name="E109" placeholder="Enter here">
            <label for="input1">E110</label>
            <input class="admninInput" type="text" name="E110" placeholder="Enter here">
            <label for="input1">E111</label>
            <input class="admninInput" type="text" name="E111" placeholder="Enter here">
            <input type="submit" value="Submit">

        </form>
        <hr><br>
        <form action="/Version@2023/admin/23" method="post">

            <label for="input1">infoID</label>
            <input class="admninInput" type="text" name="infoID" placeholder="Enter here">
            <label for="input1">Purpose</label>
            <input class="admninInput" type="text" name="purpose" placeholder="Enter here">
            <label for="input1">dataT</label>
            <input class="admninInput" type="text" name="dataT" placeholder="Enter here">
            <label for="input1">Value</label>
            <input class="admninInput" type="text" name="value" placeholder="Enter here">

            <input type="submit" value="Submit">
        </form>
        
    </div>
    <h4>Search</h4>
    <div>
        <h5>User Table</h5>
        <form action="/Version@2023/admin/31" method="post">
            <select name="inputOpt1">
                <option value="userID">userID</option>
                <option value="email">email</option>
                <option value="contact">contact</option>
                <option value="roll">roll</option>
                <option value="userName">userName</option>
                <option value="university">university</option>
            </select>
            <input type="numeric" name="userID1" placeholder="Enter here">
            <select name="inputOpt2">
                <option value="email">email</option>
                <option value="contact">contact</option>
                <option value="roll">roll</option>
                <option value="userName">userName</option>
                <option value="university">university</option>
            </select>
            <input type="numeric" name="userID2" placeholder="Enter here">
            <select name="inputOpt3">
                <option value="email">email</option>
                <option value="contact">contact</option>
                <option value="roll">roll</option>
                <option value="userName">userName</option>
                <option value="university">university</option>
            </select>
            <input type="numeric" name="userID3" placeholder="Enter here">
            <input type="submit" value="Search">
        </form>
        <h5>User Temp Table</h5>
        <form action="/Version@2023/admin/32" method="post">
            <select name="inputOpt1">
                <option value="email">email</option>
                <option value="contact">contact</option>
                <option value="roll">roll</option>
                <option value="userName">userName</option>
                <option value="university">university</option>
            </select>
            <input type="numeric" name="userID1" placeholder="Enter here">
            <select name="inputOpt2">
                <option value="email">email</option>
                <option value="contact">contact</option>
                <option value="roll">roll</option>
                <option value="userName">userName</option>
                <option value="university">university</option>
            </select>
            <input type="numeric" name="userID2" placeholder="Enter here">
            <select name="inputOpt3">
                <option value="email">email</option>
                <option value="contact">contact</option>
                <option value="roll">roll</option>
                <option value="userName">userName</option>
                <option value="university">university</option>
            </select>
            <input type="numeric" name="userID3" placeholder="Enter here">
            <input type="submit" value="Search">
        </form>
        <h5>User OTP Table</h5>
        <form action="/Version@2023/admin/33" method="post">
            <select name="inputOpt1">
                <option value="email">email</option>
                <option value="contact">contact</option>
                <option value="roll">roll</option>
                <option value="userName">userName</option>
                <option value="university">university</option>
            </select>
            <input type="numeric" name="userID1" placeholder="Enter here">
            <select name="inputOpt2">
                <option value="email">email</option>
                <option value="contact">contact</option>
                <option value="roll">roll</option>
                <option value="userName">userName</option>
                <option value="university">university</option>
            </select>
            <input type="numeric" name="userID2" placeholder="Enter here">
            <select name="inputOpt3">
                <option value="email">email</option>
                <option value="contact">contact</option>
                <option value="roll">roll</option>
                <option value="userName">userName</option>
                <option value="university">university</option>
            </select>
            <input type="numeric" name="userID3" placeholder="Enter here">
            <input type="submit" value="Search">
        </form>
        

    </div>
    <h4>Create</h4>
    <div>
        <form action="/Version@2023/admin/41" method="post">
            <label for="input1">userID</label>
            <input class="admninInput" type="text" name="userID" placeholder="Enter here">

            <label for="input1">Name</label>
            <input class="admninInput" type="text" name="userName" placeholder="Enter here">

            <label for="input1">Roll_No</label>
            <input class="admninInput" type="text" name="roll" placeholder="Enter here">

            <label for="input1">Email</label>
            <input class="admninInput" type="email" name="email" placeholder="Enter here">

            <br>

            <label for="input1">Contact</label>
            <input class="admninInput" type="tel" pattern="[0-9]{10}" name="contact" placeholder="Enter here">

            <label for="input1">University</label>
            <input class="admninInput" type="text" name="university" placeholder="Enter here">

            <label for="input1">Password</label>
            <input class="admninInput" type="numeric" name="pass" placeholder="Enter here">
            <input type="submit" value="Submit">
        </form>
    </div>
    <h4>Delete</h4>
    <div>
        <form action="/Version@2023/admin/51" method="post">
            <label for="input1">userID</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <input type="submit" value="Delete">
        </form>
        <form action="/Version@2023/admin/52" method="post">
            <label for="input1">tempID</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <input type="submit" value="Delete">
        </form>
        <form action="/Version@2023/admin/53" method="post">
            <label for="input1">userID-userOTP</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <input type="submit" value="Delete">
        </form>
        <form action="/Version@2023/admin/54" method="post">
            <label for="input1">sessionID</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <input type="submit" value="Delete">
        </form>
        <form action="/Version@2023/admin/55" method="post">
            <label for="input1">userID-EventRegistration</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <input type="submit" value="Delete">
        </form>
    </div>
    <h4>User Registered</h4>
    <div>
        <form action="/Version@2023/admin/61" method="post">
            <label for="input1">eventID</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <select name="inputOpt1">
                <option value="userID">userID</option>
                <option value="email">email</option>
                <option value="contact">contact</option>
                <option value="roll">roll</option>
                <option value="userName">userName</option>
                <option value="university">university</option>
                <option value="createdAt">createdAt</option>
            </select>
            <input type="submit" value="Get List">
        </form>
        <form action="/Version@2023/admin/62" method="post">
            <label for="input1">eventID</label>
            <input type="numeric" name="userID" placeholder="Enter here">
            <input type="submit" value="Print List">
        </form>
        <form action="/Version@2023/admin/63" method="post">
            <input type="submit" value="Get User List">
        </form>
        <form action="/Version@2023/admin/64" method="post">
            <input type="submit" value="Print User List">
        </form>
    </div>
    <h4>Mail</h4>
    <h4>File Operations</h4>
    <div>
            <a href="/Version@2023/admin/read"><input type="button" value="Sheets"></a>
    </div>
</body>
</html>