<div class="nav-container">
    <div class="menu" id="menu">
        <div class="hamburger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
        </div>
    </div>
    <div class="version-logo">
        <a href="/"><img class="ver-logo" src="/images/version.png" alt="version-logo"></a>
        
    </div>
</div>
<div class="overlay" id="overlay"></div>
<ul class="nav-list" id="nav-list">
    <li><a class="nav-options" href="/about-us">About Us</a></li>
    <li><a class="nav-options" href="#">Theme</a></li>
    <li><a class="nav-options" href="/events">Events</a></li>
    <li><a class="nav-options" href="/teams">Teams</a></li>
    <li><a class="nav-options" href="/contact-us">Contact Us</a></li>
    <%if(user){%>
        <li><a class="nav-options" href="/logout">Logout</a></li>
        <%}else{%>
            <li><a class="nav-options" href="/login">Login</a></li>
            <li><a class="nav-options" href="/register">SignUp</a></li>
        <%}%>
 
</ul>