<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Version23 Account Verification</title>
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="icon" href="/images/vlogo.png" type="image/icon type">
</head>
<body>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <h2 id="headA">Attention !!</h2>
            <br>
            <p id="bodyA">Some text in the Modal..</p>
            <button type="button"  class="btn btn-sm btn-light mx-1 rounded-pill px-2 close"><span>close</span></button>
        </div>
      
    </div>
    <input id="code" type="text" value="<%=code%>" style="display: none;">
    <script src="/res/verification.js"></script>
</body>
</html>