<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Version'23 Contact Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/ContactPage.css">

</head>
<body>

    <%- include('partials/nav') %>
    <div class="container">



        <div class="row">
          <div class="col-lg-3 col-sm-6 mb-4">
            <div class="our-team">
              <div class="pic">
                <img src="/images/members/IMG-20220630-WA0016 - sumit kushwaha.jpg">
              </div>
              <h3 class="title">Sumit Kushwaha</h3>
              <span class="post">Hospitality Committee</span>
              <p class="contact"><i class="fa-solid fa-phone"></i>  1234567890</p>
              <ul class="social">
                <li><a href="#" class=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#" class=""><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="#" class=""><i class="fa-brands fa-github"></i></a></li>
              </ul>
            </div>
          </div>
      
          <div class="col-lg-3 col-sm-6 mb-4">
            <div class="our-team">
              <div class="pic">
                <img src="/images/members/2.png">
              </div>
              <h3 class="title">Aayush Gupta</h3>
              <span class="post">Event Execution Committee</span>
              <p class="contact"><i class="fa-solid fa-phone"></i>  1234567890</p>
              <ul class="social">
                <li><a href="#" class=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#" class=""><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="#" class=""><i class="fa-brands fa-github"></i></a></li>
              </ul>
            </div>
          </div>
      
          <div class="col-lg-3 col-sm-6 mb-4">
            <div class="our-team">
              <div class="pic">
                <img src="/images/members/IMG_20221004_235213_716 - Akash Dave.jpg">
              </div>
              <h3 class="title">Akash Dave</h3>
              <span class="post">Alumini Relation</span>
              <p class="contact"><i class="fa-solid fa-phone"></i>  1234567890</p>
              <ul class="social">
                <li><a href="#" class=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#" class=""><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="#" class=""><i class="fa-brands fa-github"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mb-4">
            <div class="our-team">
              <div class="pic">
                <img src="/images/members/IMG_20220607_172059 - Dheeraj Lakhotra.jpg">
              </div>
              <h3 class="title">Dheeraj Lakhotra</h3>
              <span class="post">Secretary</span>
              <p class="contact"><i class="fa-solid fa-phone"></i>  1234567890</p>
              <ul class="social">
                <li><a href="#" class=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#" class=""><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="#" class=""><i class="fa-brands fa-github"></i></a></li>
              </ul>
            </div>
          </div>
      
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/res/navigation.js"></script>
</body>
</html>