<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Version23</title>
    <link rel="icon" href="/images/vlogo.png" type="image/icon type">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include('partials/nav') %>
    <div id="anim"></div>
    <div class="wrapper">
        <div class="reactor-container">
            <div class="reactor">
                <div class="triangle"></div>
                <div class="circle-1"><span></span><span></span><span></span><span></span></div>
                <div class="circle-2"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
                <div class="circle-3"></div>
                <div class="circle-4"><span></span><span></span><span></span></div>
                <div class="circle-5"><span></span><span></span><span></span></div>
                <div class="circle-6"></div>
                <div class="circle-7"></div>
                <div class="circle-8"><span></span><span></span><span></span></div>
            </div>
        </div>
        <h1 class="head">xTenRe</h1>
        <h2 class="tag">Dive into a new reality</h2>
        <%if(user){%>
        <h4 id ="welcome" class="typewriter user-name">Welcome <%=user.userName%></h4>
        <%}%>
    </div>
    
    <div id="overlay2" style="width: 100vw;height: 100vh ;opacity: 0; z-index: 0; position: absolute;"></div>
    <div class="fabs" id="social-footer">
        <div class="action">
            <i class="fas fa-plus" id="add"></i>
            <i class="fas fa-times" id="remove" style="display: none;"></i>
        </div>
        <div class="social-btns">
            <a href="https://m.facebook.com/story.php?story_fbid=pfbid0gedty4YmAdceo7yPLfeUrjNUVAv7prpQ2GdQTfQ85hQppLSXi3NbvsaufYZRP3Mvl&id=100063542422723&mibextid=Nif5oz" target="_blank" class="social-link">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://m.youtube.com/c/VersionNITTrichy" target="_blank" class="social-link">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/version_nit_trichy/" target="_blank" class="social-link">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://in.linkedin.com/company/version-mca-nit-trichy" target="_blank" class="social-link">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
    <script>
        const overlay2 = document.getElementById('overlay2');
        window.onclick = function(event){
            if(event.target==overlay2){
                const socialBtns = document.querySelector('.social-btns');
                const add = document.getElementById('add');
                const remove = document.getElementById('remove');
                const socialLinks = document.querySelector('.social-btns').querySelectorAll('a');
                    // console.log(document.querySelector('.social-btns').classList.contains('open'))
                    if(document.querySelector('.social-btns').classList.contains('open')){
                        add.style.display = 'block';
                        remove.style.display = 'none';
                        socialLinks.forEach((e) => {
                        e.style.bottom = "0px";
                        })
                        socialBtns.classList.toggle('open');
                    }

            }

        }
    </script>
    <script src="/res/lottie.js"></script>
    <script src="/res/script.js"></script>
    <script src="/res/navigation.js"></script>
</body>
</html>