<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Version'23 Login</title>
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/navigation.css">
</head>
<body>
    <%- include('partials/nav') %>
    <div class="login-container">
        <form class="login" method="post" action="/login">
            <div class="head">Sign in</div>
            <div class="details-container">
                <input type="text" class="signupInput" name="userID" placeholder="User ID/Email">
                <input type="password" class="signupInput" name="passIN" placeholder="Password">
                <%if(failStatus){%>
                    <p class="signupError">Incorrect Registration Number or Password</p>
                <%}%>
                <p class="forgot"><a href="/forgot-reg">Forgot Registration ID?</a></p>
            </div>
            <div class="actions">
                <button type="submit">Sign in</button>
                <button type="button"><a href="/register">Haven't Registered? Click Here!</a></button>
            </div>
        </form>
    </div>
    <script src="/res/navigation.js"></script>
</body>
</html>