
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/navigation.css">
</head>
<body>
   
    <%- include('partials/nav') %>
    <div class="login-container">
        <form class="login" method="post" action="/register">
            <div class="head">Sign Up</div>
            <div class="details-container">
                <input id="userNameInput" type="text" name="userName" placeholder="Name">
                <p id="userName" style="display:none;" >Enter your name</p>

                <input id="rollInput" type="text" name="roll" placeholder="College Roll Number">
                <p id="roll" style="display:none;" >Enter your Roll Number</p>

                <input id="emailInput" type="email" name="email" placeholder="E-Mail">
                <p id="email" style="display:none;" >Enter your Email</p>

                <input id="universityInput" type="text" name="university" placeholder="University Name">
                <p id="university" style="display:none;" >Enter your University Name</p>

                <input id="contactInput" type="number" name="contact" placeholder="Mobile Number">
                <p id="contact" style="display:none;" >Enter your Mobile Number</p>

                <input id="passInput" type="text" name="pass" placeholder="Password">
                <p id="pass" style="display:none;" >Enter your Password</p>

                <input id="passRInput" type="password" name="passR" placeholder="Retype Password">
                <p id="passR" style="display:none;" >Password mismatch</p>
                
            </div>
            <div class="actions">
                <button type="submit" >Sign Up</button>
               <button type="button"><a href="/login">Already Registered? Click Here!</a></button>
                
            </div>
        </form>
    </div>
    <script src="/res/signup.js"></script>
    <script src="/res/navigation.js"></script>
</body>
</html>


