<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Version'23 About us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styleAbout.css">
    <link rel="stylesheet" href="/styles/navigation.css">
  </head>
  <body class="new-background">

    <!-- <video autoplay muted loop id="myVideo">
      <source src="./images/Video.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video> -->
    <%- include('partials/nav') %>
    
    <div class="d-flex">  


      <div class="card align-self-center mx-auto shadow-new rounded-2">

        <div class="card-body mx-auto">
          <!-- <h2 class="card-title text-center fw-bolder">ABOUT US</h2> -->
          <div class="">
            <h5 class="card-subtitle mb-2 card-heading text-center fw-bold fs-1 tracking-in-expand">XTenRe</h5>
          <div class="">
            <p class="card-text text-center">The theme for Version 2023 is "XTenRe," that stands for Extended Reality- which encompasses a range of technologies that enhance or augment our perception of the real world, including virtual reality (VR), augmented reality (AR), and mixed reality (MR). Extended reality technologies have the potential to revolutionize the way we interact with the world around us. With VR, we can fully immerse ourselves in a digital environment and experience things that might not be possible in the real world. AR allows us to overlay digital information and objects onto the real world, creating a hybrid experience that blends the digital and the physical. MR combines elements of both VR and AR, creating a seamless blend of the real and the digital. The applications for extended reality technologies are vast and varied. They can be used for entertainment, such as video games and movies. They can also be used for education and training, allowing students and professionals to learn and practice skills in a safe, immersive environment. In addition, extended reality technologies have the potential to change the way we work, communicate, and even shop. This is an exciting opportunity to explore the world of extended reality and see how it is being used in innovative and creative ways.</p>
          </div>
          </div>

        </div>


        <div class=" mx-auto w-100 card-footer fixed-bottom">
          <div class="text-center mb-3" style="font-family: 'ethnocentricregular';">Follow us at</div>
          <div class="d-flex justify-content-between">
            <div class="mx-2">
              <a href="https://www.instagram.com/version_nit_trichy/" class="card-link mx-auto">
                <img src="./images/instagram-48.svg">
                <label for="">Version23</label>
              </a>
            </div>
  
            <div class="mx-2">
              <a href="https://www.facebook.com/versionmeet" class="card-link mx-auto">
                <img src="./images/facebook.svg">
                <label for="">Version23</label>
              </a>
            </div>
  
            <div class="mx-2">
              <a href="https://www.youtube.com/c/VersionNITTrichy" class="card-link mx-auto">
                <img src="./images/youtube.svg">
                <label for="">Version23</label>
              </a>
            </div>
          </div>
          
        </div>
        

      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/res/navigation.js"></script>
  </body>
</html>