@font-face {
  font-family: 'ethnocentricregular';
  src: url('/res/ethnocentric_rg-webfont.woff2') format('woff2'),
       url('/res/ethnocentric_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
/* @import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap'); */

body {
  /* background-image: url("./images/Background1.png"); */
  background: url('../images/Background2.jpeg');
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    flex-direction:column;
    color: #fefefe;
}

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  .shadow-new {
    border: 1px solid;
    padding: 10px;
  }

  .card {
    background: transparent;
    border: 0px;
  }
  .card-body{
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 1rem;
  }
  .card-footer {
    display: none;
    border: 0px;
    background: none;
    justify-content: space-evenly;
    scale: 0.75;
  /*background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px); 
    -webkit-backdrop-filter: blur(4.7px); */
    text-shadow:2px 2px 5px black;
    z-index:0;

  }

  .card-heading {
    font-family: 'ethnocentricregular';
    letter-spacing: 0.3rem;
  }

  .card-subtitle {
    text-shadow:2px 2px 5px #43D6F7,-2px -2px 5px #43D6F7;
  }

a {
  text-decoration: none;
  font-size: 20px;
}
label:hover{
  cursor: pointer;
}
.card-text{
  font-size: 20px;
  font-family: 'Nova Round';
  letter-spacing: 0.1rem;
  color: #fefefe;
  text-shadow: 1px 1px 5px black;
}

label {
  color: #fefefe;
}

img {
  filter: drop-shadow(2px 2px 5px #152238); 
}

/* Media Query */
@media screen and (max-width:435px) {
  /* .card-footer {
    display: none;
  } */

  .card {
    /* margin-top: 25%!important; */
    width: 95%;
  }
  .card-body{
    width: 95%;
  }

  .card-text {
    font-size: 11px;
    letter-spacing: 0.1rem;
  }

  .menu{
      width:40px;
      height:40px;
      margin-left:15px;
  }

  #menu {
    margin-left: 15px;
  }

  .openmenu {
    margin-left: 50px;
  }
  .version-logo{
      margin-right:20px;
  }
  .nav-container{
      background-color: rgba(0, 0, 0, 0.4);
      height:60px;
  }
}


@media screen and (max-width:976px) {
  label {
    display: none;
  }
  .card {
    margin-top: 25%!important;
    /* margin-bottom: 100px; */
    width: 95%;
  }
  .card-text{
    font-size: 12px;
  }
  .card-text2{
    font-size: 19px;
  }
}
/* for animations */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

